/* General Styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid red; */
}

/* Navbar styling(mobile design) */

nav {
  min-height: 5vh;
  display: flex;
  background-color: rgba(243, 237, 237, 0.363);
}

.leftside-navbar {
  display: none;
}

.rightside-navbar {
  display: none;
}

.middle-navbar {
  flex-basis: 100%;
  display: flex;
}

.middle-navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.middle-navbar a {
  color: black;
  font-size: 0.6rem;
}

.middle-navbar i {
  font-size: 0.6rem;
}

/*Home section  (mobile design)*/

#home {
  min-height: 80vh;
  background-image: url(images/banner-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  gap: 1em;
}

.content-wrapper h1 {
  color: white;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 200;
  padding: 5em 0 0 0;
}

.content-wrapper > span {
  color: white;
  font-size: 0.8rem;
}

.our-services-wrapper {
  background-color: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.our-services-wrapper a {
  color: white;
  font-size: 0.5rem;
}

.our-services-wrapper i {
  color: white;
  font-size: 0.5rem;
}

.special-offer-wrapper {
  color: white;
  background-color: black;
  max-width: 70%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 20px;
  margin-bottom: 5em;
  gap: 0.4em;
}

.special-offer-wrapper > span {
  font-size: 0.6rem;
}

.special-offer-wrapper p {
  font-size: 0.6rem;
}

.special-offer-wrapper p span {
  font-size: 1.8em;
}

.special-offer-wrapper a {
  background-color: white;
  color: black;
  width: 60%;
  font-size: 0.4rem;
  text-align: center;
  padding: 4px;
}

.special-offer-wrapper i {
  background-color: white;
  color: black;
  font-size: 0.4rem;
}

.right-arrow {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.5em;
}

.right-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* About section (mobile design)*/

#about {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.info h2 {
  font-size: 1.1rem;
}

.info p {
  font-size: 0.8rem;
  text-align: center;
}

.info img {
  max-width: 80px;
}

/* Staff section (mobile design)*/

#staff {
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.staff-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.staff-wrapper img {
  min-width: 100%;
  max-height: 250px;
  border-radius: 5px;
}

.staff-description {
  background-color: black;
  color: white;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  padding: 10px;
  bottom: -25px;
}

.staff-description span {
  font-size: 0.7rem;
}

/* News Section (mobile design)*/

#news {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-wrapper {
  width: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  background-image: url("images/offer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  padding: 1.5em 0 1.3em 2em;
  overflow: hidden;
}

.news-wrapper > span {
  color: white;
  font-size: 0.7rem;
  padding: 0 0 1em 0;
}

.news-wrapper h3 span {
  color: white;
  font-size: 1.2rem;
}

.news-wrapper h3 {
  color: white;
  max-width: 50%;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.5;
  padding: 0 0 1em 0;
}

.news-wrapper a {
  width: 40%;
  background-color: black;
  text-align: center;
}

.news-wrapper a span {
  color: white;
  font-size: 0.5rem;
}

.news-wrapper a i {
  color: white;
  font-size: 0.4rem;
}

/* Lookbook styling */

#lookbook {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.lookbook-header {
  min-height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.lookbook-header h2,
.lookbook-header span {
  font-size: 1.2rem;
}

.lookbook-header span {
  font-weight: bold;
}

.grid-container {
  width: 80%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.lookbok-1 {
  grid-row: 1/2;
}

.lookbook-2 {
  grid-row: 2/5;
}

.lookbook-3 {
  grid-row: 1/3;
}

.lookbook-4 {
  grid-row: 3/5;
  background-color: rgba(0, 0, 0, 0.932);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lookbook-4 i {
  color: white;
  font-size: 2rem;
}

.lookbook-5 {
  grid-row: 1/2;
}

.lookbook-6 {
  grid-row: 2/5;
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact Styling*/

#contact {
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.925);
  display: flex;
  color: white;
}

.left-section,
.middle-section,
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section {
  flex-basis: 40%;
}

.left-section span {
  font-size: 0.6rem;
}

.middle-section {
  flex-basis: 20%;
  justify-content: space-around;
}

.middle-section i {
  font-size: 0.9rem;
}

.middle-section i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.right-section {
  flex-basis: 40%;
  flex-direction: column;
}

.right-section span {
  padding: 5px;
  font-size: 0.5rem;
}

.right-section span i {
  padding-left: 2px;
  font-size: 0.5rem;
}
